.note_wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 12px;
    width: 320px;
}

.title_text {
    margin: 0;
    text-align: left;
}

.title {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.buttons button:last-child {
    margin-left: 10px;
}

.text {
    text-align: left;
}