.note_wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 12px;
    width: 320px;
}

.title_text {
    margin: 0;
    text-align: left;
}

.title {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.text {
    text-align: left;
}

.title_edit {
    background: transparent;
    border: none;
}

.title_delete {
    background: transparent;
    border: none;
}