#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  gap: 24px;
    justify-items: center;
    align-items: start;
}

